/* styles/Section.module.css */
.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .clickable {
    cursor: pointer;
    padding-left: 11px;
    border-bottom: 1px solid;
  }
  
  .section  {
    margin: 0;
    color: #333;
  }
  
  .lesson-list {
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
  }
  
  .lesson-item {
    margin-top: 5px;
    padding-left: 10px;
  }
  
  .lesson-item span{
    text-decoration: none;
    color: black
  }
  
  .lesson-item span:hover {
    text-decoration: underline;
  }

  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

    /* Styled Update Button */
    .update-button {
      margin: 15px;
      
      margin-left: auto;
      background-color: rgb(59 130 246 / 0.5) ;
      color: white;
    }
    

    .create-button {
      background-color: rgb(59 130 246 / 0.5);
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    