.containers{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.button {
    padding: 5px 10px;
    border: none;
  
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: white;
    color: rgb(59 130 246 / 0.5);
    border: 1px solid rgb(59 130 246 / 0.5);
  }
  
.button:hover {
    background-color: rgb(59 130 246 / 0.5); /* Green */
    color: white;
  }